.appForm {
  display: flex;
  flex-direction: row !important;
  padding: 20px;
  position: fixed;
  bottom: 20px;
  border-radius: 10px;
  z-index: 1;
  background-color: rgb(205, 205, 205);
  width: 93%;
  justify-content: center;

}

#root {
  padding: 2%;
}

.logo {
  width: 200px;
  height: 150px;
  padding: 20px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputForm {
  flex-direction: row !important;
}

.MuiInputLabel-formControl {
  top: -15px !important;
}